body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 515px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: #293241;
}

body {
  padding: 107px 354px 391px 345px;
  display: flex;
  flex-direction: column;
  background: #BFD7E4;
}

.page {

  width: 100%;
}



/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  margin-bottom: 0;
}

header p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
  color: #FFFFFF;
}





/* FORM */
.page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;

  height: 1075px;
  max-width: 100%;
  padding: 0 64px 0 64px;

  background: #FFFFFF;

  border-radius: 0px 0px 20px 20px;
}




/* FORM HEADER */
.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 32px;

  background: #F67669;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.form-header h1 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;

  margin: 50px auto 50px auto;
}





/* FORM FIELDSET */
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}






/* FORM FIELDSET-WRAP */
form fieldset .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form fieldset .fieldset-wrapper .row-2 {
  display: flex;
  flex-direction: row;
  gap: 22px;

}


/* FORM .FIELDSET-WRAP LABEL, INPUT, LEGEND  */
form fieldset .fieldset-wrapper label {
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

form fieldset .fieldset-wrapper legend {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #253B51;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

form fieldset .fieldset-wrapper input {
  box-sizing: border-box;
  height: 55px;
  padding: 15px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  width: 100%;
}






/*PROPRIEDADE SELECT*/
form fieldset .fieldset-wrapper select {
  box-sizing: border-box;
  height: 55px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}





/*PROPRIEDADE TEXTAREA*/
form fieldset .fieldset-wrapper textarea {
  box-sizing: border-box;
  height: 166px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  resize: none;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}






/*PROPRIEDADE CHECKBOX*/
form fieldset .checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

form fieldset .checkbox-wrapper label {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

form fieldset .checkbox-wrapper input {
  width: 24px;
  height: 23.8px;
  margin-right: 10px;


  border-radius: 50%;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

form fieldset .checkbox-wrapper input:checked {
  background-image: url("Images/check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}




form fieldset .fieldset-wrapper .row-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form fieldset .fieldset-wrapper .row-3 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
  margin-left: 8px;
}

form fieldset .fieldset-wrapper .row-3> :nth-child(1) {
  margin-right: 30px;
}

.submit {
  padding: 12px 216px;
  height: 51px;

  background: #F67669;
  border-radius: 8px;
  border: none;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;

  margin-top: 63px;
}