body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 515px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: #293241;
}

:root{
  font-size: 68.5%
}

body {
  padding-top: 10.7rem;
  display: flex;
  flex-direction: column;
  background: #BFD7E4;
}

.page {
  width: 100%;
}



/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.5rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

header p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.5rem;
  color: #FFFFFF;
}





/* FORM */
.page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;

  height: 100%;
  max-width: 100%;
  padding: 0 6.4rem 4rem 6.4rem;
  margin: 0 34.5rem 39.2rem 34.5rem;

  background: #FFFFFF;

  border-radius: 0px 0px 2.0rem 2.0rem;
}




/* FORM HEADER */
.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3.2rem 34.5rem 0 34.5rem;
  background: #F67669;
  border-radius: 2.0rem 2.0rem 0 0;
}

.form-header h1 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #FFFFFF;

  margin: 5.0rem auto 5.0rem auto;
}





/* FORM FIELDSET */
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 3.0rem;
}






/* FORM FIELDSET-WRAP */
form fieldset .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form fieldset .fieldset-wrapper .row-2 {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  justify-content: space-between;
}


/* FORM .FIELDSET-WRAP LABEL, INPUT, LEGEND  */
form fieldset .fieldset-wrapper label {
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #4E4958;
}

form fieldset .fieldset-wrapper legend {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;
  color: #253B51;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  margin-bottom: 2.0rem;
}

form fieldset .fieldset-wrapper input {
  box-sizing: border-box;
  height: 5.5rem;
  padding: 1.5rem;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  width: 100%;
}






/*PROPRIEDADE SELECT*/
form fieldset .fieldset-wrapper select {
  box-sizing: border-box;
  height: 5.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}





/*PROPRIEDADE TEXTAREA*/
form fieldset .fieldset-wrapper textarea {
  box-sizing: border-box;
  height: 16.6rem;
  padding: 2.0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  resize: none;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}






/*PROPRIEDADE CHECKBOX*/
form fieldset .checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

form fieldset .checkbox-wrapper label {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #4E4958;
}

form fieldset .checkbox-wrapper input {
  width: 2.4rem;
  height: 2.3rem;
  margin-right: 1.0rem;


  border-radius: 50%;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

form fieldset .checkbox-wrapper input:checked {
  background-image: url("Images/check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

form fieldset .fieldset-wrapper .row-3 {
  display: flex;
  align-items: center;
  gap: 1.0rem;
  justify-content: space-between;
}

form fieldset .fieldset-wrapper .row-3 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.0rem;
  color: #C1BCCC;
  margin-left: 8px;
}

form fieldset .fieldset-wrapper .row-3> :nth-child(1) {
  margin-right: 3.0rem;
  width: 50%;
}

.submit {
  padding: 1.2rem;
  height: 5.1rem;

  background: #F67669;
  border-radius: 8px;
  border: none;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.6rem;
  color: #FFFFFF;

  margin-top: 6.3rem;
}

@media (max-width: 1332px){

  form fieldset .fieldset-wrapper .row-2{
    display: flex;
    flex-direction: column;
  }

  form fieldset .fieldset-wrapper select {
    width: 100%;
  }

  form fieldset .fieldset-wrapper .row-3{
    display: flex;
    flex-direction: column;
  }

  form fieldset .fieldset-wrapper .row-3 .input-wrapper{
    width: 100%;
  }

  form fieldset .fieldset-wrapper .row-3> :nth-child(1){
    margin-right: 0rem;
    width: 100%;
  }

  .form-header{
    margin: 3.2rem 0 0 0;
  }

  .page{
    margin: 0;
  }

  .page form{
    margin: 0;
  }
}